---
---
$primary-color: #dc4d66;
$darkish-secondary-color: #39580a;
$lightish-secondary-color: hsl(84, 70%, 69%);
body {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	margin: 0;
	min-height: 100vh;
}
header {
	/* Gradient version */
	// background: linear-gradient(90deg,
	// 	hsl(354, 80%, 50%) 20%,
	// 	hsl(25, 80%, 45%) 35%,
	// 	hsl(56, 80%, 39%) 50%,
	// 	hsl(87, 80%, 35%) 65%,
	// 	hsl(118, 79%, 28%) 80%);

	/* Split version */ // Should I use this instead?
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAEUlEQVQImWO445v23zKC6z8AE2IEKbO7jUwAAAAASUVORK5CYII=) center/cover;
	image-rendering: crisp-edges;
	
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	color: white;
	font-size: 60px;
	padding: 10px;
	text-shadow: 1px 2px 3px rgba(0,0,0,.6);
}
header img {
	// filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
	filter: drop-shadow(1px 1px 3px #000000c0);
}
header, footer {
	text-align: center;
}
main {
	flex-grow: 1;
}
section {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	max-width: 700px;
	margin: auto;
	padding: 10px;
}
footer {
	background-color: $primary-color;
	padding: 20px;
}