---
layout: default
title: 'Confusing Items'
---

<section>
	<h2>{{ page.title }}</h2>
	<p>Here is a list of the food items listed that are botanically a fruit but which are not culinarily:</p>
	<ul>
		{% for item in site.items %}
			{% assign botanical_type = site.types | where:"type", item.botanically | first %}
			{% assign parent_botanical_type = site.types | where:"type", botanical_type.parent_type | first %}
			{% for i in (1..2) %}
				{% if parent_botanical_type.parent %}
					{% assign parent_botanical_type = site.types | where:"type", parent_botanical_type.parent_type | first %}
				{% endif %}
			{% endfor %}
			{% if item.botanically == "fruit" or botanical_type.parent_type == "fruit" %}
				{% assign is_fruit = true %}
			{% endif %}

			{% assign culinary_type = site.types | where:"type", item.culinarily | first %}
			{% assign parent_culinary_type = site.types | where:"type", culinary_type.parent_type | first %}
			{% if item.culinarily == "vegetable" or culinary_type.parent_type == "vegetable" %}
				{% assign is_vegetable = true %}
			{% endif %}

			{% if is_fruit and is_vegetable %}
				<li><a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<p><a href="{% link _pages/how-can-something-be-a-fruit-and-a-vegetable.html %}">How can something be both a fruit and a vegetable?</a></p>
</section>