---
layout: default
title: Density Table
description: Many fruits and vegetables are super juicy while others are typically more dry. Check and compare fruit and vegetables with this table.
---

<section>
	<h2>{{ page.title }}</h2>
	<table>
		<tr>
			<th>Item Name</th>
			<th>Classification</th>
			<th>Specific Gravity</th>
		</tr>
		{% assign sortedItems = site.items | sort: 'specific_gravity' | reverse %}
		{% for item in sortedItems -%}
			{% if item.specific_gravity and item.culinarily -%}
				{%- assign parent_culinary_type_names = '' | split: '' %}
				{%- for culinary_type_name in item.culinarily %}
					{%- assign culinary_type = site.types | where: "type", culinary_type_name | first %}
					{%- assign parent_culinary_type = site.types | where: "type", culinary_type.parent_type | first %}
					{%- if culinary_type_name != "nut" %}
						{% assign parent_culinary_type_name = parent_culinary_type.type | split: 'XXXXX' %}
					{%- else %}
						{%- assign parent_culinary_type_name = '' | split: 'XXXXX' %}
					{%- endif %}
					{%- assign parent_culinary_type_names = parent_culinary_type_names | concat: parent_culinary_type_name %}
				{%- endfor %}

				<tr>
					<td><a href="{{ item.url }}">{{ item.title }}</a></td>
					<td class="{% for culinary_type_name in item.culinarily %}{{ culinary_type_name }} {% endfor %} {{ parent_culinary_type_names | join: ' ' }}">
						{% if item.culinarily and culinary_type %}
							{% for culinary_type_name in item.culinarily %}
								{% if forloop.first != true %}
									&amp; 
								{% endif %}
								{% assign culinary_type = site.types | where: "type", culinary_type_name | first %}
								<a href="{{ culinary_type.url }}">{{ culinary_type.title }}</a>
							{% endfor %}
						{% endif %}
					</td>
					<td>{{ item.specific_gravity }}</td>
				</tr>
			{%- endif %}
		{%- endfor %}
	</table>
	<h3>Sources</h3>
	<ul>
		<li><a href="https://www.fao.org/3/ap815e/ap815e.pdf">FAO/INFOODS Density Database</a></li>
		<li><a href="https://doi.org/10.1080/10942912.2013.831444">"Estimation of Volume and Mass of Axi-Symmetric Fruits Using Image Processing Technique"</a></li>
		<li><a href="https://uksim.info/ams2017/CD/data/3752a113.pdf">"Non-Destructive Technique based on Specific Gravity for Post-harvest Mangifera Indica L. Cultivar Maturity"</a></li>
		<li><a href="https://www.researchgate.net/publication/304783160_Physico-chemical_studies_of_different_ber_Zizyphus_mauritiana_Lamk_germplasm_under_rainfed_conditions_of_Jammu">"Physico-chemical studies of different ber (Zizyphus mauritiana Lamk.) germplasm under rainfed conditions of Jammu"</a></li>
		<li><a href="https://doi.org/10.1080/10942910009524647">"Physical and thermal properties of three sweetpotato cultivars (Ipomoea Batatas L.)"</a></li>
	</ul>
</section>