---
layout: default
description: Is this a fruit or a vegetable? The scientific answer explained here! 
---

<section>
	<p>Ever wonder if something is a fruit or a vegetable? The answer is here! It may surprise you. Often, the answer is actually technically both.</p>
</section>
<section>
	<div>
		<h2>Search for a food item:</h2>
		<input id="search-box" type="text" list="items">
		<datalist id="items">
			{% for page in site.pages %}
				{% if page.categories contains 'items' %}
					<option value="{{ page.title }}">
				{% endif %}
			{% endfor %}
		</datalist>
	</div>
</section>