---
layout: default
description: Is this a fruit or a vegetable? The scientific answer explained here!
scripts:
  - /js/search.js
popular_items:
  - tomato
  - cucumber
  - pumpkin
  - corn
  - avocado
 # - olive
 # - rhubarb
 # - carrot
 # - onion
 # - coconut
---

<section>
	<h2>About</h2>
	<p>Ever wonder if something is a fruit or a vegetable? The answer is here! It may surprise you. Often, the answer is actually technically both.</p>
	<p>Also, in case you're wondering, that weird fruit on the left of the site's logo is supposed to be a <a href="{% link _items/dragon-fruit.md %}">dragon fruit</a>. I just needed something I could twist to look something like an <i>F</i>.</p>
	<p>Comment, question, or something missing? <a href="mailto:{{ site.author.email }}">Email me</a> and let me know!</p>
</section>
<section>
	<h2>Popular Items</h2>
	<div id="popular-items">
		{% for item_name in page.popular_items %}
			{% assign item = site.items | where:"slug", item_name | first %}
			{% if item %}
				<a href="{{ item.url }}">
					<div>
						{% if item.image %}
{% responsive_image_block %}
  path: {{ item.image }}
  alt: {{ item.title }}
  sizes: "130px"
{% endresponsive_image_block %}
						{% endif %}
						<div>{{ item.title }}</div>
					</div>
				</a>
			{% endif %}
		{% endfor %}
	</div>
</section>
<section id="search-section">
	<div>
		<h2 id="search-header">Search for a Food Item</h2>
		<form>
			<input id="search-box" aria-labelledby="search-header" type="text" list="items" autocomplete="off">
			<button id="search-button">Go To Item</button>
			<datalist id="items">
				{% assign items = site.items | concat: site.data.fruit_redirects | sort: 'title' %}
				{% for item in items %}
					<option value="{{ item.title }}" data-url="{{ item.url }}">
				{% endfor %}
			</datalist>
		</form>
	</div>
</section>
<noscript>
	<style>
		#search-section {
			display: none;
		}
	</style>
</noscript>
<section>
	<h2>Browse</h2>
	<p><a href="{% link _pages/list.html %}">Click here to browse all listed food items!</a></p>
</section>