---
layout: default
---

<article>
	<div>
		<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
	</div>
	{% if page.image %}
	<img src="{{ page.image }}" alt="{{ page.title }}">
	{% endif %}
	{% assign botanical_type = site.types | where:"type", page.botanically | first %}
	{% assign parent_botanical_type = site.types | where:"type", botanical_type.parent_type | first %}
	{% assign culinary_type = site.types | where:"type", page.culinarily | first %}
	{% assign parent_culinary_type = site.types | where:"type", culinary_type.parent_type | first %}
	<div class="type">
		{% if botanical_type %}
		<div class="{{ page.botanically }} {{ botanical_type.parent_type }}">
			<div>Botanically this is...</div>
			<div class="answer">
				<a href="{{ botanical_type.url }}">{{ botanical_type.indefinite_title }}!</a>
				{% if parent_botanical_type %}
				<span class="answer-parent">(A type of <a href="{{ parent_botanical_type.url }}">{{ parent_botanical_type.singular_title | downcase }}</a>)</span>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% if culinary_type %}
		<div class="{{ page.culinarily }} {{ culinary_type.parent_type }}">
			<div>Culinarily this is...</div>
			<div class="answer">
				<a href="{{ culinary_type.url }}">{{ culinary_type.indefinite_title }}!</a>
				{% if parent_culinary_type %}
				<span class="answer-parent">(A type of <a href="{{ parent_culinary_type.url }}">{{ parent_culinary_type.singular_title | downcase }}</a>)</span>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
	{{ page.content }}
</article>