---
layout: default
---

<article>
	<div>
		<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
	</div>
	{% if page.image %}
	<img src="{{ page.image }}" alt="{{ page.title }}">
	{% endif %}
	{% assign botanical_type = site.types | where:"type", page.botanically | first %}
	{% assign culinary_type = site.types | where:"type", page.culinarily | first %}
	<div class="type">
		{% if botanical_type %}
		<div class="{{ page.botanically }} {{ botanical_type.parent_type }}">
			<p>Botanically this is...</p>
			<div class="answer">
				<a href="{{ botanical_type.url }}">{{ botanical_type.indefinite_title }}!</a>
				{% if botanical_type.parent_type %}
				<span class="answer-parent">(A type of <a href="{{ botanical_type.parent_type.url }}">{{ botanical_type.parent_type.title | downcase }}</a>)</span>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% if culinary_type %}
		<div class="{{ page.culinarily }}">
			<p>Culinarily this is...</p>
			<div class="answer">
				<a href="{{ culinary_type.url }}">{{ culinary_type.indefinite_title }}!</a>
				{% if culinary_type.parent_type %}
				<span class="answer-parent">(A type of <a href="{{ culinary_type.parent_type.url }}">{{ culinary_type.parent_type.title | downcase }}</a>)</span>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
	{{ page.content }}
</article>