---
layout: default
---

<article>
	<div>
		<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
	</div>
	{% if page.image %}
	<img src="{{ page.image }}" alt="{{ page.title }}">
	{% endif %}
	{% assign botanical_type = site.types | where:"type", page.botanically | first %}
	{% assign parent_botanical_type = site.types | where:"type", botanical_type.parent_type | first %}
	{% assign culinary_type = site.types | where:"type", page.culinarily | first %}
	{% assign parent_culinary_type = site.types | where:"type", culinary_type.parent_type | first %}
	{% assign legal_type = site.types | where:"type", page.legally | first %}
	{% assign parent_legal_type = site.types | where:"type", legal_type.parent_type | first %}
	<div class="type">
		{% if botanical_type %}
		<div class="{{ page.botanically }} {{ botanical_type.parent_type }}">
			<div>Botanically this is...</div>
			<div class="answer">
				<a href="{{ botanical_type.url }}">{{ botanical_type.indefinite_title }}!</a>
				{% if parent_botanical_type %}
				<span class="answer-parent">(A type of <a href="{{ parent_botanical_type.url }}">{{ parent_botanical_type.title | downcase }}</a>)</span>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% if culinary_type %}
		<div class="{{ page.culinarily }} {{ culinary_type.parent_type }}">
			<div>Culinarily this is...</div>
			<div class="answer">
				<a href="{{ culinary_type.url }}">{{ culinary_type.indefinite_title }}!</a>
				{% if parent_culinary_type %}
				<span class="answer-parent">(A type of <a href="{{ parent_culinary_type.url }}">{{ parent_culinary_type.title | downcase }}</a>)</span>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% if legal_type %}
		<div class="{{ page.legally }} {{ legal_type.parent_type }}">
			<div>Legally this is...</div>
			<div class="answer">
				<a href="{{ legal_type.url }}">{{ legal_type.indefinite_title }}!</a>
				{% if parent_legal_type %}
				<span class="answer-parent">(A type of <a href="{{ parent_legal_type.url }}">{{ parent_legal_type.title | downcase }}</a>)</span>
				{% endif %}
			</div>
			{% if page.case_name %}
			<div class="case">
				See: <span class="case-name">
					{% if page.case_brief %}
					<a href="{{ page.case_brief }}">
					{% endif %}
					{{ page.case_name }}
					{% if page.case_brief %}
					</a>
					{% endif %}
				</span>,
				<span class="case-cite">
					<a href="https://scholar.google.com/scholar?hl=en&as_sdt=6%2C47&btnI=I%27m+Feeling+Lucky&q={{ page.case_cite }}">{{ page.case_cite }}</a>
				</span> ({{ page.case_year }}).
			</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
	{{ page.content | markdownify }}
	{% assign is_fruit = page.botanically == "fruit" or botanical_type.parent_type == "fruit" %}
	{% assign is_vegetable = page.culinarily == "vegetable" or culinary_type.parent_type == "vegetable" %}
	{% if is_fruit or is_vegetable %}
	<p><a href="/how-can-something-be-a-fruit-and-a-vegetable">How can something be both a fruit and a vegetable?</a></p>
	{% endif %}
</article>